body
{
    margin: 0;
    font-family: sans-serif;
}

#header
{
    background-image: url("media/abstract.svg");
    background-size: cover;
    background-attachment: fixed;

    /* box-shadow: inset 0 0 0 75vh rgba(255, 255, 255, 0.3); */ 
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*
#title-wrapper
{
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.7);
}
*/

:root {
  --title-width: 100%; 
}

#title
{
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-size: 6em;
    border-right: .1em solid white;
    /*
    animation: 
        typing 3s steps(34),
        blink 0.8s infinite;
    */
}

@keyframes typing {
    from {width: 0}
    to {width: var(--title-width)}
}

@keyframes blink {
  0% {border-color: transparent}
  50% {border-color: white;}
  100% {border-color: transparent;}
}

#content-grid
{
    margin: 0;
    display: grid;
    grid-template-columns: 15% 50% 35%;
}

#navigation-bar
{
    position: sticky;
    top: 0;
    font-size: 1.5em;
    height: 100vh;
    background-color: #20201b;
    align-self: start;
}

#navigation-bar ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation-bar ul li
{
    text-align: center;
    color: white;
}

#navigation-bar ul li:hover
{
    background-color: beige;
    color: black;
}

#navigation-bar ul li a
{
    display: block;
    text-decoration: unset;
    color: inherit;
}

#navigation-bar ul ul li
{
    font-size: 0.9em;
    background-color: beige;
    color: black;
}

#navigation-bar ul ul li:hover
{
    font-size: 0.9em;
    color: beige;
    background-color: black;
}

#content
{
    margin-left: 1vw;
}

.content-heading
{
    font-size: 4em;
    font-family: monospace;
    margin-left: auto;
    margin-top: 1vh;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-image: linear-gradient(to right, #986b35, #360033) 1;
}

.content-subheading
{
    font-size: 3em;
    font-family: monospace;
    margin-left: auto;
    margin-top: 1vh;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-image: linear-gradient(to right, #986b35, #360033) 1;
}

.visibile-for-fly-in
{
    animation: fly-in 1s ease-out;
}

@keyframes fly-in
{
    0%
    {
        transform: translateX(200%);
    }
    100%
    {
        transform: translateX(0%);
    }
}

.content-text
{
    font-size: 1.1em;
    text-align: justify;
}

footer
{
    background-color: #20201b;
    color: white;
    text-align: center;
}

@media screen and (max-width: 800px)
{
    #title
    {
        font-size: 3em;
    }

    #content-grid
    {
        display: block;
    }

    #navigation-bar
    {
        height: auto;
        position: relative;
        font-size: 1em;
    }
}

@media screen and (max-width: 350px)
{
    #title
    {
        font-size: 2em;
    }
}

@media screen and (max-width: 250px)
{
    #title
    {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 150px)
{
    #title
    {
        font-size: 1em;
    }
}